@using Syncfusion.EJ2
@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@ 
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addModal-label">@ViewData["ModalTitle"]</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" container-fluid">
                <div class="datatable-container">
                    <ejs-grid id="GridContacts" allowExcelExport="true" class="datatable" locale="es-MX" allowPaging="true" allowSorting="false" allowTextWrap="true">
                        <e-data-manager url="@Url.Action("GetDataContacts",new { Id = Model })" adaptor="UrlAdaptor"></e-data-manager>
                        <e-grid-pagesettings pageSize="50">
                        </e-grid-pagesettings>
                        <e-grid-columns>
                            <e-grid-column field="name" headerText="Nombre" width="100"></e-grid-column>
                            <e-grid-column field="email" headerText="Email" width="100"></e-grid-column>
                            <e-grid-column field="cellphone" headerText="Celular" width="100"></e-grid-column>
                            <e-grid-column field="officePhone" headerText="Teléfono de oficina" width="100"></e-grid-column>
                            <e-grid-column field="comments" headerText="Comentarios" width="150" textAlign="Right"></e-grid-column>
                            <e-grid-column headerText="" width="70" template="#contactActionButtons" textAlign="Right"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
@Html.EJS().ScriptManager()