@{
    ViewData["Title"] = "Confirmación de olvidar contraseña";
}
<div class="text-center">
    <a href="~/">
        <img src="~/images/logo.png" class="mx-auto form-logo mb-3" />
    </a>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-group">
            <div class="card p-4">
                <h2>@ViewData["Title"]</h2>
                <p>
                    Por favor verifica tu correo electrónico para reiniciar tu contraseña.
                </p>
                <p>
                    <a href="~/"><i class="fa fa-home"></i> Ir al inicio</a>
                </p>
            </div>
        </div>
    </div>
</div>