<!-- Views/Shared/_ClientLayout.cshtml -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    @RenderSection("Styles", required: false)
    <!-- Agrega aquí tus hojas de estilo y scripts específicos -->
    <!--<link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome-all.min.css" />-->
    <link rel="stylesheet" href="~/lib/coreui/css/style.min.css" />
    <link rel="stylesheet" href="~/lib/coreui/css/style2.min.css" />
    <link rel="stylesheet" href="~/css/commons.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/monobits/dist/monolibs.min.css" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>