@model string
<div class="modal-dialog" role="document">
    <form asp-action="@ViewData["Action"].ToString()" asp-antiforgery="true" class="modal-content forma-ajax--modal">
        <input type="hidden" name="id" value="@Model"/>
        <div class="modal-header">
            <h4 class="modal-title" id="addModal-label">@ViewData["ModalTitle"]</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ¿Seguro que desea eliminar @ViewData["ModalDescription"]?
            <div class="modal-errores text-danger"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>
</div>